@model IEnumerable<WebApplication2.Models.Sensor>

@{
    ViewData["Title"] = "Sensors";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.WoodArt)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SensorId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.GpsCoordinateLat)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.GpsCoordinateLon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WoodArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsCoordinateLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsCoordinateLon)
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Courses" asp-action="Index">Back to List</a>
</div>
